.arduino-cont {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 100%;
    background-color: #00e5ff;
    font-size: 2vh;
    color: #333;
    font-weight: 600;
    text-align: center;
    /* padding: 0 2rem; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.arduino-info-cont {
    border-radius: 50%;
    margin: 1vw;
    width: 2vw;
    height: 2vw;
    background: yellow;
    border: 3px solid red;
}
@media screen and (max-width: 768px) {
    .arduino-cont {
        font-size: 1rem;
        height: 5vh;
    }
    .arduino-info-cont {
        width: 5vw;
        height: 5vw;
    }
    
}